
#page-wrap{
    overflow: hidden;
    width:100%;
}
body{background-color: rgb(211,211,211);
    font-family: 'Arvo', serif;
    
   
    
    
    }
    .welcome{
      text-align: center;
      list-style-type: none;
    }
header{
    background-color:#0B1C51;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;

}
#portfolio{
  text-align: center;
}
header h1{
 flex-wrap: wrap; 
 color: white;
 text-align: center;

}
.foot{
  text-align: center;
  background-color: indianred;
}
header nav ul{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .box p{
    text-align: center;
    margin-bottom: 20px;
  }
  .box { margin: 20px; }
  .box1 { background-color: gray;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);text-align: center; }
  .box2 { background-color:grey;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);text-align: center; }
  .box3 { background-color:grey;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);text-align: center;}
  .box4 { background-color: grey;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);text-align: center; }
/*dicates how the about section is displayed*/
.about{
    color: black;
    display: flex;
    flex-direction: column;
    flex:2;
    margin: auto;
    font-family: 'Arvo', serif;
    text-align: center;
}

.map{
    display: none;
    flex-direction: column;
    align-items: center;
    }
.row{
    text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-width: 50%;
  text-align: center;
}
    


/* how content should be displayed on screens larger than 600px */
@media all and (min-width: 600px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
    .map{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
  
    header h1 {
      margin: 14px 0;
      padding-top: 0 20px;
      font-size: larger;
    }
    
    header nav ul {
      margin-top: 25px;
      display:inline-block;
      justify-content: space-around;
      display: inline-flex;

    }
  
    header nav ul li a:hover {
      color: #bdbdbd;
    }
    header nav ul li a{
        color: #fff;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        margin: 0 10px;
        
      }
  
   
   
  input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  }
  
  form input[type=email]{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  label {
    padding: 12px 0px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: grabbing;
    float: right;
    margin-top: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin: 2% 25% 0 25%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  /* Clear floats */
  .grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .box p{
    text-align: center;
    margin-bottom: 12px;
  }
}
  
  /* Responsive layout - less than 600px wide, makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
